:root{
    --color1: #b4e8b4;
    --color2: #1f1f7c;
    --color3: grey;
    --color4: whitesmoke;
    --color5: #fc8eac;
    --shadow: rgb(0,0,0,0.5);

}

body{
    font-family: 'Kanit', sans-serif;
    /* background-color:darkgreen; */
    background-color:var(--color1);

}

header{
    background-color: var(--color2);
    color: var(--color1);
    
}
/* New HTML Elements */
.logo-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}


.map-canvas{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
}
/* /New HTML Elements */

h1{

}

.reset-button{
    background-color: var(--color5);
    font-size: 1.5rem;
    color: var(--color2);
    padding: .5rem 1rem;
    /* border: 2px outset black; */
    box-shadow: 2px 7px 5px 5px var(--shadow);
    border-radius: 25px;
}

.reset-button:hover{
    cursor: pointer;
    /* border: 2px ridge black; */
    box-shadow: 0 5px 5px 3px var(--shadow);
    margin-bottom: .125rem;
}

.reset-button:active{
    cursor: pointer;
    color: black;
    /* border: 2px ridge black; */
    box-shadow: 0 3px 5px 2px var(--shadow);
    margin-bottom: .25rem;
}

main{
    
    /* min-height: 100vh; */
   
}

.container{
   /* position: relative; */
   
   /* align-items: center;
   justify-content: center; */
   /* padding: 1rem; */
   
   /* max-width: 80%; */
   /* min-height: 100%; */
   /* height: 80vh; */
}

.container-header{
    /* background-color: var(--color3); */
    background-color: var(--color5);
    /* color: var(--color4); */
    color: var(--color2);
    

}

.container-h2{
    
}

.color-box{

}

.color-ul{
    
}

.color-li:hover{
    cursor: pointer;
    color: black;
}

.color-li:active{
    color: inherit;
}


/* These are the new Color Changer Styles */
.play-pause{
    font-size: 2.5rem;
}
.play-pause:hover{
    cursor: pointer;
    color: yellow;
}

.play-pause:active{
    color: inherit;
}

.nv{
    visibility: hidden;
}
/* /Color Changer */

.base-card{
/* box-sizing: border-box;
position: relative; */

/* margin: 20%; */
/* padding-left: 0%; */
/* background-color: chartreuse; */
background: rgb(42, 42, 42);
color: var(--color4);
/* background-color: var(--color4); */

}

.h3{
    font-size: 1.5rem;
}

.emoji-choice-list{
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
}

.nextButton{
    border: 2px outset black;
    font-size: 1.5rem;
    padding: .5rem 2.5rem;
    border-radius: 40px;
}

.nextButton.on{
    color: var(--color2);
    background-color: var(--color5);
    box-shadow: 2px 7px 5px 5px var(--shadow);
}

.nextButton.on:hover{
    cursor: pointer;
    box-shadow: 0 5px 5px 3px var(--shadow);
}

.nextButton.on:active{
    box-shadow: none;
}

.nextButton.off{
    background-color: rgb(94, 93, 93);
}


/* Start Screen Styles */
.contentCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    gap: .5rem;
}

.randoInput{
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: .5rem;
    background-color: var(--color3);
}

.emptyBox{
    display: flex;
    min-height: 20rem;
    min-width: 20rem;
}
/* /Start Screen Styles */


/* Emoji Grid Styles */

.eChoiceCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.emoji-choice-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 29rem;
    min-height: 4.5rem;
    border: 2px solid black;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    background-color: var(--color3);
    border: 2px ridge black;
}

.gridCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.emoji-container{
    padding: 1rem;
    max-height: 80vh;
    max-width: 85vw;
    overflow-y: scroll;
    overflow-x: scroll;
    border: 2px ridge black;
    /* background: rgb(76, 76, 76); */
    /* background: rgb(42, 42, 42); */
    /* background: var(--color4); */
    background-color: var(--color3);
}

.fullUl{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.emoji-row{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 1rem;
}

/* .emojiEl{
    font-size: 1.5rem;
    border: 1px dotted black;
} */
.emojiBox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* border: 1px dotted black; */
    min-height: 4rem;
    min-width: 4rem;
    
}

.emojiImg{
    font-size: 3rem;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0 0 7px var(--shadow);
}

.emojiImg.off{
    filter: grayscale(100%);
}

.emojiImg.on:hover{
    cursor: pointer;
    text-shadow: 0 0 7px blue;
    
}

.emojiImg.on:active{
    cursor: pointer;
    text-shadow: none;
}

/* .emojiImg:focus{
    background-color: transparent;
} */


/* /Emoji Grid Styles */


/* Input Page Styles */
.inputBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.userForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userForm h3{
    align-self: start;
}

.questionDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    align-self: start;
}

.qWrapDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    max-width: 45rem;
    padding-left: .5rem;
}

.customAria{
    font-size: 2rem;

}

.customAria:hover{
    cursor: pointer;
    color: yellow;
}

.customAria:active{
    color: inherit;
}

.userInputEl{
    display: flex;
    font-size: 1.5;
    padding: .5rem 1rem;
    min-height: 20rem;
    min-width: 50rem;
    margin-top: 1rem;
    margin-bottom: .25rem;
    background: var(--color3);
    color: var(--color4);
    border-radius: 2px;
}

.userInputEl:focus{
    outline: 2px ridge var(--color4);
}

.wordMaxEl{
    display: flex;
    align-self: end;
    margin-bottom: 2rem;

}

.wcTrue{
    color: #00FF00;
}

.wcFalse{
    color: red;
}


/* /Input Page Styles */


/* Loading Screen */

.loadDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    padding: 15rem 5rem;
}
.staticDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    min-width: 327.2px;
}
/* /Loading Screen */

/* Smiley Map */
.mapRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mapTile{
    display: flex;
    /* width: .125rem;
    height: .125rem; */
    /* padding: .0625rem; */
    padding: .125rem;
}

.mapGreen{
    background-color: var(--color1);
}
.mapBlue{
 background-color: var(--color2);
}
.mapPink{
    background-color: var(--color5);
}
.mapShadow{
    filter: brightness(85%);
}
.mapWhite{
    background-color: var(--color4);
}
/* /Smiley Map */