:root{

}

body{
background-color:darkgreen;
}

header{

}


h1{

}

.container{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1rem;
}

.container-header{

}

.container-h2{

}

.base-card{
box-sizing: border-box;
position: relative;
display: flex;
margin: 20%;
padding-left: 0%;
background-color: chartreuse;
}